body {
    text-align: center;
    background-color: rgb(211, 204, 204);

}

main{
    display: flex;
    zoom: 0.8
}

#bloco1{

width: 30%;
height: 100%;
display: flex;

flex-direction: column;
text-align: center;

}


#tabelabloco1{
   
    align-items: center;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    text-align: center;

    
    
    
}



#coluna1,#coluna3,#coluna5{

    width: 60px;
    height: 60%;
    
    display: flex;
    flex-direction: column;
  



}

#coluna2,#coluna4{

    width: 40px;
    height: 60%;
    display: flex;
    flex-direction: column;
   
   
  
    

    
}

.valorcoluna1
{
margin-top: 10px;
width: 50px;
height: 40px;
text-align: center;
border: 2px solid #ccc;
border-radius: 4px;


}

.valorcoluna2
{
margin-top: 10px;
width: 30px;
height: 40px;
text-align: center;



}

#coluna6{

    width: 90px;
    height: 60%;
    display: flex;
    flex-direction: column;
    
}


.valorcoluna6
{
margin-top: 16px;
width: 80px;
height: 40px;
text-align: center;



}


.espacobotao{
    width: 100%;
   

}

.botao{
    width: 160px;
    height: 40px;

}




#bloco2{

    width: 70%;
    height: 100%;
    display: flex;
    
    
     
}

#tabelabloco2{

    align-items: center;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}

#resultado{
    padding-top: 20%;
    width: 30%;
    height: 70%;

}

#line1,
#line2,
#line3{
    width: 100%;
    height: 100%;
    display: inline-block;
   


}





.quadrado {
   
    width: 70px;
    height: 70px;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    color: black;
    background-color: gray;
}

.quadrado #conteudo{
    font-size: 20px;
    background-color: red;
    width: 50%;
    height: 50%;
    z-index: 1;

}

.jogador, .vencedor {
    font-size: 30px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: gray;
    cursor: pointer;
}