body {
    text-align: center;
    background-color: rgb(211, 204, 204);

}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    zoom: 0.8
}

button{
    margin-top: 30px;
}